@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #ffffff; }

img {
  max-width: 100%;
  height: auto; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden,
label.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.container {
  width: 320px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

@media (min-width: 768px) {
  .container {
    width: 768px; } }

@media (min-width: 1200px) {
  .container {
    width: 1200px;
    margin: 0 auto;
    -webkit-box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
            box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2); } }

.main-nav {
  position: relative; }

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.main-nav__item a {
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  text-decoration: none;
  text-align: center;
  background-color: #81b3d2;
  -webkit-box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
          box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 0 rgba(255, 255, 255, 0.2); }

.main-nav__item a[href]:hover {
  background-color: #669ec0; }

.main-nav__item a[href]:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd; }

.main-nav__item:last-child a {
  position: relative;
  padding-bottom: 7px;
  -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
          box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.2); }
  .main-nav__item:last-child a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(1, 1, 1, 0.2)));
    background: linear-gradient(to bottom, transparent, rgba(1, 1, 1, 0.2)); }

.main-nav__close {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 18px;
  top: 14px;
  font-size: 0;
  border: none;
  background-color: transparent;
  cursor: pointer; }
  .main-nav__close::before, .main-nav__close::after {
    content: "";
    position: absolute;
    right: 0;
    top: center;
    width: 26px;
    height: 4px;
    background-color: #ffffff;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .main-nav__close::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .main-nav__close::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }

.main-nav__logo {
  position: absolute;
  left: 50%;
  bottom: -32px;
  margin-left: -50px;
  z-index: 10; }

.main-nav__wrapper {
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 56px; }

.main-nav__open {
  position: relative;
  width: 23px;
  height: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 0;
  border: none;
  background-color: transparent;
  cursor: pointer; }
  .main-nav__open::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #81b3d2;
    -webkit-box-shadow: 0 8px 0 0 #81b3d2, 0 16px 0 0 #81b3d2;
            box-shadow: 0 8px 0 0 #81b3d2, 0 16px 0 0 #81b3d2; }

@media (max-width: 767px) {
  .main-nav--closed .main-nav__list {
    display: none; }
  .main-nav--opened .main-nav__open {
    display: none; }
  .main-nav--nojs .main-nav__list {
    display: block; }
  .main-nav--nojs .main-nav__close {
    display: none; }
  .main-nav--nojs .main-nav__open {
    display: none; } }

@media (min-width: 768px) {
  .main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .main-nav__item:nth-child(2) {
    margin-right: 20%; }
  .main-nav__item a {
    padding-top: 6px;
    padding-bottom: 9px;
    color: #000000;
    width: 153px;
    min-height: 56px;
    font-size: 14px;
    background-color: #ffffff;
    -webkit-box-shadow: none;
            box-shadow: none; }
  .main-nav__item a[href]:hover {
    color: #81b3d2;
    background-color: transparent; }
  .main-nav__item a[href]:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: transparent; }
  .main-nav__item .main-nav__link--active {
    color: #766357; }
  .main-nav__close,
  .main-nav__wrapper,
  .main-nav__item:last-child a::after {
    display: none; }
  .main-nav__logo {
    left: 50%;
    margin: 0;
    -webkit-transform: translate(-50%);
            transform: translate(-50%); } }

@media (min-width: 1200px) {
  .main-nav__item a {
    width: 239px; }
  .main-nav__logo {
    top: 0; }
  .main-nav__logo img {
    width: 189px;
    height: 96px; } }

.banner {
  min-height: 390px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("../img/intro-triangle.png"), url("../img/bg-back-mobile@1x.jpg");
  background-size: 1210px auto, auto;
  background-position: center bottom;
  background-repeat: no-repeat; }

.banner__image {
  margin-top: 90px;
  width: 282px;
  height: 214px; }

@media (min-width: 768px) {
  .banner {
    min-height: 518px;
    background-image: url("../img/intro-triangle.png"), url("../img/bg-back-desktop@1x.jpg"); } }
  @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
    .banner {
      background-image: url("../img/intro-triangle.png"), url("../img/bg-back-desktop@2x.jpg"); } }

@media (min-width: 768px) {
  .banner__image {
    margin-top: 77px;
    width: 460px;
    height: 350px; } }

.features {
  padding-top: 39px;
  line-height: 26px;
  text-align: center; }

.features__title {
  display: block;
  margin: 0 32px;
  margin-bottom: 27px;
  color: #333333;
  font-size: 18px;
  font-weight: 700; }

.features__text {
  margin: 0 32px;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px; }

.features__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.features__item--detailed {
  padding-top: 38px;
  color: #ffffff;
  background-color: #81b3d2; }

.features__item:first-child {
  padding-top: 77px;
  background-image: url("../img/bg-triangle-down.png");
  background-repeat: no-repeat;
  background-position: center top; }

.features__item--simple {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #eeeeee; }

.features__item-wrapper {
  border-bottom: 1px solid #d6d6d6;
  padding-top: 27px;
  padding-bottom: 27px; }

.features__item:last-child .features__item-wrapper {
  border: none; }

.features__item-title {
  margin: 0;
  margin-bottom: 7px;
  font-size: 18px;
  line-height: 26px; }

.features__item-title br {
  display: none; }

.features__item-number {
  display: block;
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: 400; }

.features__item-text {
  margin: 0 25px;
  font-size: 14px;
  line-height: 21px; }

.features__item--simple .features__item-text {
  margin: 0;
  color: #333333; }

.features__item-image {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 260px;
  display: block; }

@media (min-width: 768px) {
  .features {
    padding-top: 50px; }
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .features__title {
    font-size: 21px;
    margin: 0 130px;
    margin-bottom: 30px; }
  .features__text {
    margin-bottom: 49px; }
  .features__item--detailed {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding-top: 0; }
  .features__item:first-child {
    padding-top: 0;
    background-image: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .features__item--simple {
    -ms-flex-preferred-size: 33.33%;
        flex-basis: 33.33%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 60px;
    padding-right: 60px; }
  .features__flex-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .features__item-container {
    width: 33%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 400px;
    padding-top: 60px; }
  .features__item-wrapper {
    padding-top: 45px;
    padding-bottom: 44px;
    border: none; }
  .features__item-title {
    margin-bottom: 7px;
    font-size: 21px; }
  .features__item-title br {
    display: inline; }
  .features__image-container {
    width: 67%; }
    .features__image-container--bridge {
      -webkit-box-ordinal-group: 0;
          -ms-flex-order: -1;
              order: -1; }
  .features__item-number {
    margin-bottom: 19px; }
  .features__item-image {
    width: 100%;
    height: 256px;
    margin: 0; } }

@media (min-width: 1200px) {
  .features__title {
    margin-left: 355px;
    margin-right: 355px;
    margin-bottom: 28px; }
  .features__item-image {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 256px; }
  .features__item-container {
    padding-left: 50px;
    padding-right: 50px; }
  .features__item-wrapper {
    padding-bottom: 65px; } }

.services {
  margin: 0;
  padding-top: 26px;
  padding-bottom: 15px;
  padding-left: 21px;
  padding-right: 25px;
  text-align: left;
  list-style: none;
  background-color: #ffffff; }

.services__item {
  position: relative;
  margin-bottom: 20px;
  padding-left: 48px;
  padding-top: 9px; }
  .services__item::before {
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0;
    top: 0;
    background-repeat: no-repeat; }
  .services__item--house::before {
    background-image: url("../img/icon-house.svg");
    background-size: 39px 37px;
    background-position: left top; }
  .services__item--burger::before {
    background-image: url("../img/icon-burger.svg");
    background-size: 40px 35px;
    background-position: -3px 4px; }
  .services__item--gift::before {
    background-image: url("../img/icon-gift.svg");
    background-size: 32px 38px;
    background-position: center top; }

.services__title {
  margin: 0;
  margin-bottom: 14px;
  padding: 0;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px; }

.services__text {
  margin: 0;
  color: #333333;
  font-size: 14px;
  line-height: 21px; }

@media (min-width: 768px) {
  .services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px; }
  .services__item {
    width: 165px;
    padding-left: 0;
    padding-top: 100px;
    text-align: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .services__item--gift {
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2; }
    .services__item::before {
      width: 77px;
      height: 75px;
      left: 40px; }
    .services__item--house::before {
      background-size: 75px 72px; }
    .services__item--burger::before {
      background-size: 77px 68px;
      background-position: left center; }
    .services__item--gift::before {
      background-size: 64px 75px;
      background-position: right top; }
  .services__title {
    font-size: 21px;
    margin-bottom: 20px; } }

@media (min-width: 1200px) {
  .services {
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 63px; }
  .services__item {
    width: 260px; }
    .services__item::before {
      left: 90px; } }

.booking {
  padding-top: 28px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center; }

.booking__title {
  display: block;
  margin: 0;
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px; }

.booking__text {
  margin: 0;
  margin-bottom: 35px;
  font-size: 14px;
  line-height: 24px; }

.booking__button {
  width: 280px;
  margin: 0 auto; }

@media (min-width: 768px) {
  .booking {
    padding-top: 55px;
    padding-bottom: 58px;
    padding-left: 20.18%;
    padding-right: 20.18%; }
  .booking__title {
    margin-bottom: 31px;
    font-size: 30px; }
  .booking__text {
    margin-bottom: 42px; }
  .booking__button {
    width: 458px; } }

@media (min-width: 1200px) {
  .booking {
    padding-left: 371px;
    padding-right: 371px;
    padding-bottom: 65px; }
  .booking__text {
    margin-bottom: 47px; } }

.button {
  padding-top: 15px;
  padding-bottom: 17px;
  min-height: 58px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  color: #ffffff;
  font-size: 21px;
  font-weight: 500;
  line-height: 26px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  background-color: #81b3d2;
  border: none; }
  .button:hover {
    background-color: #669ec0; }
  .button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd; }

.page-footer {
  padding-top: 30px;
  padding-bottom: 30px; }

.page-footer__hashtag {
  margin-bottom: 37px;
  display: block;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center; }

@media (min-width: 768px) {
  .page-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    padding-top: 35px;
    padding-left: 80px; } }

@media (min-width: 1200px) {
  .page-footer {
    padding-top: 38px;
    padding-left: 120px; } }

.social {
  width: 150px;
  margin: 0 auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none; }

.social__link {
  display: block;
  width: 46px;
  height: 48px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  vertical-align: center;
  line-height: 48px;
  background-color: #81b3d2; }
  .social__link:hover {
    background-color: #669ec0; }
  .social__link:active {
    background-color: #5496bd; }

.social__icon {
  fill: #ffffff; }

.social__link:active .social__icon {
  fill: rgba(255, 255, 255, 0.3); }

@media (min-width: 768px) {
  .social {
    margin: 0;
    margin-left: 14.5%; } }

@media (min-width: 1200px) {
  .social {
    margin: 0;
    margin-left: 22.5%; } }

.map__wrapper {
  width: 100%;
  position: relative; }
  .map__wrapper ::before {
    content: "";
    position: absolute;
    top: 160px;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    width: 27px;
    height: 27px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #81b4d4;
    border: 5px solid #ffffff;
    border-radius: 50%;
    z-index: 1; }

.map__media {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 350px; }

.map__image {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 350px; }

@media (min-width: 768px) {
  .map ::before {
    top: 164px; } }

.mini-banner {
  min-height: 158px;
  margin-bottom: 40px;
  background-image: url("../img/intro-triangle.png"), url("../img/bg-back-mobile@1x.jpg");
  background-size: 1210px auto, auto;
  background-position: center bottom, center bottom;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.mini-banner__image {
  width: 229px;
  height: 39px;
  margin: 0 auto;
  margin-top: 52px; }

@media (min-width: 768px) {
  .mini-banner {
    min-height: 290px;
    margin-bottom: 68px;
    background-image: url("../img/intro-triangle.png"), url("../img/bg-back-desktop@1x.jpg"); }
  .mini-banner__image {
    width: 458px;
    height: 78px;
    margin-top: 95px; } }

@media (min-width: 1200px) {
  .mini-banner {
    min-height: 301px;
    margin-bottom: 105px; }
  .mini-banner__image {
    margin-top: 102px; } }

.form-page {
  padding-bottom: 47px; }

.form-page__title {
  margin: 0;
  margin-bottom: 27px;
  font-size: 18px;
  text-align: center; }

.form-page__text {
  margin: 0 20px;
  margin-bottom: 17px;
  color: #333333;
  font-size: 14px;
  line-height: 24px;
  text-align: center; }

@media (min-width: 768px) {
  .form-page {
    padding-bottom: 60px; }
  .form-page__title {
    font-size: 30px;
    margin-bottom: 25px; }
  .form-page__text {
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 54px; } }

@media (min-width: 1200px) {
  .form-page__text {
    margin-left: 360px;
    margin-right: 360px; } }

.form__group {
  padding: 20px;
  padding-bottom: 25px;
  border: none;
  border-top: 1px solid #e5e5e5; }

.form__group-title {
  display: block;
  margin-bottom: 21px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center; }

.form__group label:last-child {
  margin-bottom: 0; }

.form__submit-button {
  width: 280px;
  margin: 0 auto;
  margin-top: 25px; }

.form__submit-note {
  display: none; }

@media (min-width: 768px) {
  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px; }
  .form__group {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 25px;
    border: none; }
    .form__group--radio {
      -webkit-box-ordinal-group: 0;
          -ms-flex-order: -1;
              order: -1;
      width: 340px;
      position: relative; }
      .form__group--radio::after {
        content: "";
        position: absolute;
        top: 22px;
        right: 0;
        width: 1px;
        height: 292px;
        background-color: #e5e5e5; }
    .form__group--name {
      width: 340px;
      padding-left: 50px; }
    .form__group--checkbox {
      padding-bottom: 0;
      margin-bottom: 18px; }
  .form__group-title {
    margin-bottom: 58px;
    position: relative;
    font-size: 21px; }
    .form__group-title::before, .form__group-title::after {
      content: "";
      position: absolute;
      top: 50%;
      width: 125px;
      height: 1px;
      background-color: #dbdbdb; }
    .form__group-title::before {
      left: 0; }
    .form__group-title::after {
      right: 0; }
  .form__group--radio .form__group-title,
  .form__group--name .form__group-title {
    margin-bottom: 58px;
    text-align: left; }
    .form__group--radio .form__group-title::before, .form__group--radio .form__group-title::after,
    .form__group--name .form__group-title::before,
    .form__group--name .form__group-title::after {
      display: none; }
  .form__group--contact .form__group-title {
    margin-bottom: 25px; }
  .form__group--checkbox .form__group-title {
    margin-bottom: 52px; }
  .form__group--area .form__group-title {
    margin-bottom: 58px; }
  .form__group--contact label {
    margin-bottom: 23px; }
  .form__checkbox-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: 95px; }
  .form__checkbox-wrapper label {
    width: 260px;
    margin-bottom: 5px; }
  .form__submit-wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 20px;
    padding-right: 20px; }
  .form__submit-button {
    margin: 0;
    margin-top: 5px;
    width: 324px; }
  .form__submit-note {
    display: block;
    font-size: 14px;
    color: #333333; } }

@media (min-width: 1200px) {
  .form {
    padding-left: 120px;
    padding-right: 120px; }
  .form__group {
    padding: 0;
    padding-top: 5px;
    margin-bottom: 40px; }
    .form__group--radio {
      -ms-flex-preferred-size: 49.6%;
          flex-basis: 49.6%;
      -ms-flex-negative: 1;
          flex-shrink: 1;
      margin-bottom: 65px; }
    .form__group--name {
      -ms-flex-preferred-size: 49.4%;
          flex-basis: 49.4%;
      -ms-flex-negative: 1;
          flex-shrink: 1;
      padding-left: 75px; }
  .form__group-title::before, .form__group-title::after {
    width: 280px; }
  .form__group--radio .form__group-title {
    padding-left: 78px; }
  .form__group--contact .form__group-title {
    margin-bottom: 75px; }
  .form__contact-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .form__checkbox-wrapper {
    padding: 0; }
  .form__checkbox-wrapper label {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%; }
  .form__submit-wrapper {
    padding-left: 0;
    padding-right: 0; }
  .form__submit-button {
    width: 480px; } }

.input-text {
  height: 58px;
  width: 100%;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  border: none;
  background-color: #f2f2f2; }
  .input-text::-webkit-input-placeholder {
    color: #000000;
    opacity: 1; }
  .input-text:hover {
    background-color: #e5e5e5; }
  .input-text:active, .input-text:focus {
    background-color: #ffffff;
    outline: none;
    -webkit-box-shadow: inset 0 0 0 4px #e5e5e5;
            box-shadow: inset 0 0 0 4px #e5e5e5; }
  .input-text:focus::-webkit-input-placeholder {
    color: transparent; }

.input-text__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  color: #333333;
  font-size: 14px;
  line-height: 26px; }
  .input-text__label--contact {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 13px;
    position: relative; }

.input-text__label--tel::after,
.input-text__label--email::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
  background-position: center;
  background-repeat: no-repeat; }

.input-text__label--tel::after {
  background-image: url("../img/icon-phone.png"); }

.input-text__label--email::after {
  background-image: url("../img/icon-mail.png"); }

.input-text__label--name span {
  margin-right: 10px;
  width: 105px; }

.input-text__label--contact span {
  margin-left: 21px;
  margin-bottom: 6px; }

@media (min-width: 1200px) {
  .input-text__label--contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    height: 58px; }
  .input-text__label--contact span {
    display: inline-block;
    margin: 0;
    margin-right: 15px;
    white-space: nowrap; } }

.input-radio {
  display: block;
  margin-bottom: 13px; }

.input-radio__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 58px;
  padding-left: 77px;
  text-transform: none;
  font-size: 18px;
  font-weight: 700; }
  .input-radio__label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 58px;
    height: 58px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 29px solid #f2f2f2;
    border-radius: 50%;
    background-color: #333333;
    cursor: pointer; }
  .input-radio__label:hover::before {
    border-color: #e5e5e5; }
  .input-radio__label:active::before {
    border-color: #666666;
    opacity: 0.3; }

.input-radio input:checked + .input-radio__label::before {
  border-width: 18px; }

@media (min-width: 768px) {
  .input-radio {
    margin-bottom: 20px; } }

.checkbox {
  display: block; }

.checkbox__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 58px;
  margin-bottom: 24px;
  padding-left: 77px;
  font-size: 18px;
  font-weight: 700;
  text-transform: none; }
  .checkbox__label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 58px;
    height: 58px;
    border-radius: 5px;
    background-color: #f2f2f2;
    cursor: pointer; }
  .checkbox__label:hover::before {
    background-color: #e5e5e5; }
  .checkbox__label:active::before {
    background-color: #666666;
    opacity: 0.3; }

.checkbox input:checked + .checkbox__label::before {
  background-image: url("../img/icon-tick.png");
  background-position: center;
  background-repeat: no-repeat; }

.textarea {
  width: 100%;
  height: 160px;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 18px;
  font-weight: 700;
  border: none;
  background-color: #f2f2f2;
  resize: none; }
  .textarea::-webkit-input-placeholder {
    color: #000000;
    opacity: 1; }
  .textarea:hover {
    background-color: #e5e5e5; }
  .textarea:active, .textarea:focus {
    background-color: #ffffff;
    outline: none;
    -webkit-box-shadow: inset 0 0 0 4px #e5e5e5;
            box-shadow: inset 0 0 0 4px #e5e5e5; }
  .textarea:focus::-webkit-input-placeholder {
    color: transparent; }

.gallery__title {
  margin: 0;
  margin-bottom: 23px;
  font-size: 18px;
  line-height: 26px;
  text-align: center; }

.gallery__text {
  margin: 0 24px;
  margin-bottom: 28px;
  color: #333333;
  font-size: 14px;
  line-height: 24px;
  text-align: center; }

.gallery__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.gallery__item {
  padding: 20px;
  padding-top: 22px;
  padding-bottom: 15px;
  border-top: 1px solid #e5e5e5; }

.gallery__item-image {
  display: block;
  cursor: pointer; }
  .gallery__item-image:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s; }

.gallery__item-wrapper {
  padding-top: 14px; }

.gallery__item-title {
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px; }

.gallery__item-author {
  margin: 0;
  margin-bottom: 5px;
  color: #333333;
  font-size: 14px;
  line-height: 26px;
  text-transform: none; }

.gallery__likes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.gallery__likes-icon {
  margin-right: 10px;
  fill: rgba(0, 0, 0, 0.3);
  cursor: pointer; }
  .gallery__likes-icon:hover, .gallery__likes-icon--active {
    fill: rgba(0, 0, 0, 0.7); }

.gallery__likes-number {
  font-size: 14px;
  font-weight: 700;
  line-height: 26px; }

@media (min-width: 768px) {
  .gallery__title {
    font-size: 30px;
    line-height: 40px; }
  .gallery__text {
    margin-left: 170px;
    margin-right: 170px;
    margin-bottom: 70px; }
  .gallery__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: 60px;
    padding-right: 60px; }
  .gallery__item {
    border: none;
    padding: 0; }
    .gallery__item:first-child {
      width: 100%; }
  .gallery__item-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 13px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #f2f2f2; }
  .gallery__item-author {
    margin-bottom: 0; } }

@media (min-width: 1200px) {
  .gallery__text {
    margin-left: 385px;
    margin-right: 385px; }
  .gallery__list {
    padding: 0; }
  .gallery__item-wrapper {
    height: 80px;
    margin-top: -80px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 10; }
  .gallery__item-title,
  .gallery__item-author,
  .gallery__likes-number {
    color: #ffffff; }
  .gallery__likes-icon {
    fill: #ffffff; }
    .gallery__likes-icon:hover {
      fill: rgba(255, 255, 255, 0.7); }
  .gallery__item-image:hover {
    -webkit-transform: none;
            transform: none;
    -webkit-filter: brightness(80%);
            filter: brightness(80%); } }

.video {
  padding-top: 35px;
  padding-bottom: 45px;
  border-top: 1px solid #e5e5e5; }

.video__title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center; }

.video__text {
  margin: 0 35px;
  margin-bottom: 34px;
  color: #333333;
  font-size: 14px;
  line-height: 24px;
  text-align: center; }

.video__holder {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.video__controls {
  width: 280px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  height: 66px;
  padding: 0 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f2f2f2; }
  .video__controls::before {
    content: "";
    position: absolute;
    left: 0;
    top: -45px;
    height: 45px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6); }

.video__image {
  display: block; }

.video__player-bar {
  height: 9px;
  position: absolute;
  top: -25px;
  left: 22px;
  width: 235px;
  z-index: 5;
  cursor: pointer; }

.video__range-slider {
  position: absolute;
  top: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer; }
  .video__range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
            appearance: none;
    width: 9px;
    height: 9px;
    background-color: #ffffff;
    border-radius: 50%; }
  .video__range-slider:focus {
    outline: none; }

.video__button {
  fill: #5c6870;
  cursor: pointer; }
  .video__button--subtitles {
    margin-left: 133px;
    margin-right: 31px; }
  .video__button:hover {
    fill: #333333; }
  .video__button:active {
    opacity: 0.3; }

@media (min-width: 768px) {
  .video {
    padding: 60px;
    padding-bottom: 40px;
    border: none; }
  .video__title {
    font-size: 30px;
    line-height: 40px; }
  .video__text {
    margin-right: 110px;
    margin-left: 110px;
    margin-bottom: 73px; }
  .video__controls {
    width: 648px;
    height: 93px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: -92px;
    padding-left: 35px;
    padding-right: 40px;
    background-color: rgba(0, 0, 0, 0.6); }
    .video__controls::before {
      display: none; }
  .video__player-bar {
    position: relative;
    background-color: transparent;
    height: 9px;
    margin: 0 42px;
    top: auto;
    left: auto;
    width: 389px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .video__button {
    fill: #ffffff; }
    .video__button--subtitles {
      margin-left: 0; }
    .video__button:hover {
      fill: #ffffff;
      opacity: 0.6; }
    .video__button:active {
      opacity: 0.3; } }

@media (min-width: 1200px) {
  .video {
    padding: 0;
    padding-top: 65px;
    padding-bottom: 80px; }
  .video__text {
    margin-left: 385px;
    margin-right: 385px;
    margin-bottom: 70px; }
  .video__holder {
    width: 800px;
    margin-left: auto;
    margin-right: auto; }
  .video__controls {
    width: 800px;
    margin-top: -93px; }
  .video__player-bar {
    width: 540px; } }

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20; }
  .popup--show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.popup__overlay {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: -1; }

.popup__nav {
  width: 10%;
  max-width: 100px;
  height: 100%;
  max-height: 300px;
  padding: 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 35px;
  opacity: 0.5;
  cursor: pointer; }
  .popup__nav:hover {
    opacity: 1;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s; }
  .popup__nav--prev {
    -webkit-transform: scale(-1, 1);
            transform: scale(-1, 1); }
  .popup__nav--hide {
    background-image: none;
    cursor: auto; }
  .popup__nav--show {
    background-image: url("../img/arrow.png");
    cursor: pointer; }

.popup__gallery-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  border: none;
  z-index: 20; }

.popup__item-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s; }

.popup__gallery-item:hover .popup__item-wrapper {
  opacity: 1;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s; }

.popup__item-author {
  color: rgba(255, 255, 255, 0.6); }

.popup__likes-icon {
  fill: rgba(255, 255, 255, 0.6); }
  .popup__likes-icon:hover {
    fill: white; }

@media (min-width: 768px) {
  .popup__item-image {
    height: 534px;
    width: 800px;
    -o-object-fit: cover;
       object-fit: cover; } }
