.banner {
  min-height: 390px;
  display: flex;
  justify-content: center;
  background-image: url("../img/intro-triangle.png"), url("../img/bg-back-mobile@1x.jpg");
  background-size: auto;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.banner__image {
  margin-top: 90px;
  width: 282px;
  height: 214px;
  outline: 1px solid red;
}

@media (min-width: $tablet-width) {
  .banner {
    min-height: 518px;
    background-image: url("../img/intro-triangle.png"), url("../img/bg-back-tablet@1x.jpg");
  }

  .banner__image {
    margin-top: 77px;
    width: 460px;
    height: 350px;
  }
}
