.booking {
  padding-top: 28px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.booking__title {
  display: block;
  margin: 0;
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.booking__text {
  margin: 0;
  margin-bottom: 35px;
  font-size: 14px;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .booking {
    padding-top: 55px;
    padding-bottom: 58px;
    padding-left: 155px;
    padding-right: 155px;
  }

  .booking__title {
    margin-bottom: 31px;
    font-size: 30px;
  }

  .booking__text {
    margin-bottom: 42px;
  }
}

@media (min-width: $desktop-width) {
  .booking {
    padding-left: 371px;
    padding-right: 371px;
    padding-bottom: 65px;
  }

  .booking__text {
    margin-bottom: 47px;
  }
}
