.features {
  padding-top: 39px;
  line-height: 26px;
  text-align: center;
}

.features__title {
  display: block;
  margin: 0 32px;
  margin-bottom: 27px;
  color: #333333;
  font-size: 18px;
  font-weight: 700;
}

.features__text {
  margin: 0 32px;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}

.features__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.features__item {
  &--detailed {
    padding-top: 38px;
    color: #ffffff;
    background-color: #81b3d2;
  }

  &:first-child {
    padding-top: 77px;
    background-image: url("../img/bg-triangle-down.png");
    background-repeat: no-repeat;
    background-position: center top;
  }

  &--simple {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #eeeeee;
  }
}

.features__item-wrapper {
  border-bottom: 1px solid #d6d6d6;
  padding-top: 27px;
  padding-bottom: 27px;
}

.features__item:last-child .features__item-wrapper {
  border: none;
}

.features__item-title {
  margin: 0;
  margin-bottom: 7px;
  font-size: 18px;
  line-height: 26px;
}

.features__item-title br {
  display: none;
}

.features__item-number {
  display: block;
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: 400;
}

.features__item-text {
  margin: 0 25px;
  font-size: 14px;
  line-height: 21px;
}

.features__item--simple .features__item-text {
  margin: 0;
  color: #333333;
}

.features__item-image {
  margin-top: 40px;
  width: 320px;
  height: 260px;
  display: block;
}

@media (min-width: $tablet-width) {
  .features {
    padding-top: 50px;
  }

  .features__list {
    display: flex;
    flex-wrap: wrap;
  }

  .features__title {
    font-size: 21px;
    margin: 0 130px;
    margin-bottom: 30px;
  }

  .features__text {
    margin-bottom: 49px;
  }

  .features__item {
    &--detailed {
      display: flex;
      width: 100%;
      flex-wrap: nowrap;
      padding-top: 0;
    }

    &:first-child {
      padding-top: 0;
      background-image: none;
      flex-wrap: wrap;
    }

    &--simple {
      flex-basis: 33.33%;
      box-sizing: border-box;
      padding-left: 60px;
      padding-right: 60px;
    }
  }

  .features__item-container {
    flex-basis: 256px;
    flex-grow: 1;
    padding-top: 60px;
  }

  .features__item-wrapper {
    padding-top: 45px;
    padding-bottom: 44px;
    border: none;
  }

  .features__item-title {
    margin-bottom: 7px;
    font-size: 21px;
  }

  .features__item-title br {
    display: inline;
  }

  .features__image-container {
    &--bridge {
      order: -1;
    }
  }

  .features__item-number {
    margin-bottom: 19px;
  }

  .features__item-image {
    width: 512px;
    height: 256px;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .features__title {
    margin-left: 355px;
    margin-right: 355px;
    margin-bottom: 28px;
  }
  
  .features__item-image {
    object-fit: cover;
    width: 100%;
    height: 256px;
  }
  
  .features__item-container {
    padding-left: 50px;
    padding-right: 50px;
  }
  
  .features__item-wrapper {
    padding-bottom: 65px;
  }
}
