.input-text {
  height: 58px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  border: none;
  background-color: #f2f2f2;

  &::-webkit-input-placeholder {
    color: #000000;
    opacity: 1;
  }

  &:hover {
    background-color: #e5e5e5;
  }

  &:active,
  &:focus {
    background-color: #ffffff;
    outline: none;
    box-shadow: inset 0 0 0 4px #e5e5e5;
  }

  &:focus::-webkit-input-placeholder {
    color: transparent;
  }
}

.input-text__label {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: #333333;
  font-size: 14px;
  line-height: 26px;

  &--contact {
    flex-wrap: wrap;
    margin-bottom: 13px;
    position: relative;
  }
}

.input-text__label--tel::after,
.input-text__label--email::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
  background-position: center;
  background-repeat: no-repeat;
}

.input-text__label--tel::after {
  background-image: url("../img/icon-phone.png");
}

.input-text__label--email::after {
  background-image: url("../img/icon-mail.png");
}

.input-text__label--name span {
  margin-right: 10px;
  width: 105px;
}

.input-text__label--contact span {
  margin-left: 21px;
  margin-bottom: 6px;
}

@media (min-width: $desktop-width) {
  .input-text__label--contact {
    display: flex;
    flex-basis: 45%;
    flex-wrap: nowrap;
    height: 58px;
  }

  .input-text__label--contact span {
    display: inline-block;
    margin: 0;
    margin-right: 15px;
    white-space: nowrap;
  }
}
