.page-footer{
  padding-top: 30px;
  padding-bottom: 30px;
}

.page-footer__hashtag {
  margin-bottom: 37px;
  display: block;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
}