.page-footer {
  padding-top: 30px;
  padding-bottom: 30px;
}

.page-footer__hashtag {
  margin-bottom: 37px;
  display: block;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .page-footer {
    display: flex;
    align-items: baseline;
    padding-top: 35px;
    padding-left: 80px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    padding-top: 38px;
    padding-left: 120px;
  }
}
