.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.9);
  outline: 1px solid red;

  &--show {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.popup__prev,
.popup__next {
  width: 20px;
  height: 40px;
  top: 50%;
  margin-top: -20px;
  background-color: red;
}

.popup__prev {
  left: 20px;
}

.popup__next {
  right: 20px;
}
.popup__photos-hide {
  display: none;
}

.popup__gallery-item {
  border: none;
}

.popup__item-wrapper {
  height: auto;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 13px;
  padding-left: 20px;
  padding-right: 20px;
  color: rgba(255, 255, 255, 1);
  background-color: transparent;
}

.popup__item-author {
  color: rgba(255, 255, 255, 0.6);
}

.popup__likes-icon {
  fill: rgba(255, 255, 255, 0.6);
}

@media (min-width: $tablet-width) {
  .popup__item-image {
    height: 534px;
    width: 800px;
    object-fit: cover;
  }
}
