.services {
  margin: 0;
  padding-top: 26px;
  padding-bottom: 15px;
  padding-left: 21px;
  padding-right: 25px;
  text-align: left;
  list-style: none;
  background-color: #ffffff;
}

.services__item {
  position: relative;
  margin-bottom: 20px;
  padding-left: 48px;
  padding-top: 9px;

  &::before {
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
  }

  &--house::before {
    background-image: url("../img/icon-house.svg");
    background-size: 39px 37px;
    background-position: left top;
  }

  &--burger::before {
    background-image: url("../img/icon-burger.svg");
    background-size: 40px 35px;
    background-position: -3px 4px;
  }

  &--gift::before {
    background-image: url("../img/icon-gift.svg");
    background-size: 32px 38px;
    background-position: center top;
  }
}

.services__title {
  margin: 0;
  margin-bottom: 14px;
  padding: 0;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.services__text {
  margin: 0;
  color: #333333;
  font-size: 14px;
  line-height: 21px;
}

@media (min-width: $tablet-width) {
  .services {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .services__item {
    width: 165px;
    padding-left: 0;
    padding-top: 100px;
    text-align: center;
    box-sizing: border-box;

    &--gift {
      order: 2;
    }

    &::before {
      width: 77px;
      height: 75px;
      left: 40px;
    }

    &--house::before {
      background-size: 75px 72px;
    }

    &--burger::before {
      background-size: 77px 68px;
      background-position: left center;
    }

    &--gift::before {
      background-size: 64px 75px;
      background-position: right top;
    }
  }

  .services__title {
    font-size: 21px;
    margin-bottom: 20px;
  }
}

@media (min-width: $desktop-width) {
  .services {
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 63px;
  }
  
  .services__item {
    width: 260px;
    
    &::before {
      left: 90px;
    }
  }
}
